{{> head}}
<h1>CHART JS</h1>
   <div class="container">
      <canvas id="ctx" class="chart"></canvas>
      <canvas id="bar-chart" class="chart"></canvas>  
   </div> 
   <div class="container">      
      <canvas id="line-chart" class="chart"></canvas>  
      <canvas id="ctx1" class="chart"></canvas>
   </div> 
   
{{> foot}}